<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="BusControlDB"
			 connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=BusControlSystem;Integrated Security=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>